.companyAbout_container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.companyAbout_img {
    border-radius: 8px;
    background-image: url("/assets/shared/mobile/image-best-gear.jpg");
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.companyAbout_title {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.companyAbout_title-span {
    color: #D87D4A;
}

.companyAbout_desc {
    font-size: 0.9375rem;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.5;
    text-align: center;
}

/* ///////////////// media query ////////////////// */

@media screen and (min-width: 750px) {

    .companyAbout_img {
        background-image: url("/assets/shared/tablet/image-best-gear.jpg");
        height: 330px;
    }

    .companyAbout_title {
        font-size: 2.5rem;
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
    }

    .companyAbout_desc {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .companyAbout_container {
        margin-bottom: -140px;
    }
}